  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  header {
    background-color: #00ff7386;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  nav {
    text-align: center;
    background-color: #333333;
    padding: 10px;
  }
  nav a {
    color: #fffcfc;
    text-decoration: none;
    margin: 0 10px;
  }
  .quote {
    font-style: italic;
    margin-top: 20px;
  }
 
